@model IEnumerable<CIT218FinalApp.Models.Review>

@{
    ViewBag.Title = "ReviewsByCoaster";
}


<body>
    <div class="container">
        @using (@Html.BeginForm())
        {
            <br />
            <div class="container">
                <div id="FilerSearch" class="col-md-8 col-lg-offset-2">
                    <div class="form-group">
                        @Html.Label("Search by Name", htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.TextBox("searchByName", null, new { @class = "form-control" })
                    </div>

                    <div class="col-md-12">
                        <input type="submit" value="Find Reviews" class="btn col-md-4 col-md-offset-2" />
                        <input type="reset" value="Reset" onclick="location.href='@Url.Action("ReviewsByCoaster", "Admin")'" class="btn col-md-4 col-md-offset-2" />
                    </div>
                </div>
            </div>
            <br />
        }
        @if (Model != null)
        {
            <h2>
                Rollercoaster Reviews for @ViewBag.coasterName
            </h2>
            <p>
                @Html.ActionLink("Create New Review", "ReviewCreate")
            </p>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ReviewTitle)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Content)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Rating)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ReviewTitle)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Content)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Rating)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "ReviewEdit", new { id = item.Id }) |
                            @Html.ActionLink("Details", "ReviewDetails", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "ReviewDelete", new { id = item.Id })
                        </td>
                    </tr>
                }

            </table>
        }
        else
        {
            <div class="col-md-8 col-md-offset-2">
                <h2>There are not reviews for this rollercoaster</h2>
                <br />
                <div class="col-md-12">
                    @Html.ActionLink("Back to List", "ReviewIndex") |
                    @Html.ActionLink("Back to Admin Landing", "AdminLanding", "Admin")
                </div>
            </div>
        }
        <div class="col-md-12">
            @Html.ActionLink("Back to List", "ReviewIndex") |
            @Html.ActionLink("Back to Admin Landing", "AdminLanding", "Admin")
        </div>                             
    </div>
</body>
